//this is a comment
name		: Boy Pool

physical
{
	gender 	: "male"
	hair	: "blue", "long", "wet"
	eyes	: "brown"
	muscle	: 0.5
	fat		: 0.3
	height	: 5.9
	weight	: 207
	beauty	: 0.7
}

mental
{
	wit		: 0.0
	chill	: 0.8
}

emotion
{
	happy	: 0.6
	sad		: 0.1
	stress	: 0.1
}

needs
{
	hunger	: 0.1
}

preference
{
	human
	{
		gender
		{
			male		: +0.9
			female		: -0.7
			non-binary	: -0.1
		}
		
		hair
		{
			long		: +0.7
			short		: +0.3
			blue		: +0.9
			red			: +1.0
			black		: +0.4
			brown		: +0.1
			orange		: +0.7
		}
		
		person
		{
			Boy Pool
			{
				face		: +0.8
				genitals	: +0.1
				personality	: +0.3
			}
			
			Jane
			{
				face		: -0.4
				genitals	: -0.9
				personality	: +0.8
			}
		}
	}
	
	line
	{
		catchphrase	:
			"I'm the pool boy.",
			"They call me boy pool."
	}
}
